* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ecf0f1;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  color: #524c56;
  font-size: 100%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}




/* NAVIGATION*/
nav {
  float: right;
  padding: 25px 20px 0px 0px;
}
#menu-icon {
  display: none;
  font-size: 50px;
}
ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #6991ac;
}

.current {
  color: #3f5767;
}

a:hover {
  color: #a5bdcd;
}

 .container{
  margin: auto;
  background-color:white;
  width:800px;
  padding: 30px;
 }
 ul,li{
margin: 0;
padding: 0;
list-style: none;
}
ul.slider{
  position:relative;
  width: 800px;
  height:300px;
  }
ul.slider li{
  position:absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color:white;
  transition: opacity -5s ;
}
ul.slider li img{
  width: 100%;
  height:300%;
  object-fit: cover;
}
ul.slider li: first-child{
  opacity: 1;
}
ul.slider li: target{
  opacity: 1;
}

menu{
  text-align:center;
  margin :20px;
  }
  .menu li{
    display :inline-block;
    text-align: center;

  }
  .menu li a {
    display : inline-block;
    color :white;
    text-decoration: none;
    background-color:grey;
    padding: 10px;
    width:20px;
    height:20px;
    font-size:20px;
    border-radius: 100%;


.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 450%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #2c3e50;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size: ;
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #f5f5f5;
}

footer.second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}
footer.second p,
.second a {
  text-align: center;
  color: #fff;
  font-size: 160%;
  line-height: 155%;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 80px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
  }

  #menu-icon {
    display: inline-block;
  }

  nav:hover ul {
    display: block;
  }

  nav ul,
  nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    right: 20px;
    width: 30%;
    opacity: 0.95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }

  .one-third {
    float: left;
    width: 100%;
  }
  .icon-wrap {
    height: 80px;
    width: 80px;
    margin-top: 3%;
  }

  .icon-wrap i {
    font-size: 250%;
    padding-top: 27%;
  }

  .left-col {
    width: 100%;
    padding: 0;
  }

  .sidebar {
    width: 100%;
  }

  .one-third-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }

  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }

  .footer-nav {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }

  .footer-nav li {
    padding: 1%;
  }
}
